# AWS region for deployment
region = "YOUR_REGION"

# EKS cluster name
cluster_name = "CLUSTER_NAME"

# VPC name
vpc_name = "VPC_NAME"

# EC2 instance type for EKS worker nodes
instance_type = "t2.medium"

# ECR repository name
repository_name = "REPOSITORY_NAME"

# Your GitHub username
github_user = "GITHUB_USER_NAME"

# Your GitHub Personal Access Token (full repo access required)
github_pat = "GITHUB_TOKEN"

# Your GitHub repository URL
github_repo_url = "GITHUB_REPOSITORY_URL"
