{{- range .Values.repositories }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: {{ .url | quote }}
  username: {{ .username | quote }}
  password: {{ .password | quote }}
  insecure: "{{ $.Values.repoConfig.insecure }}"
  enableLfs: "{{ $.Values.repoConfig.enableLfs }}"
---
{{- end }}
